body div {
    position: relative;
    left: 0;
    top: 0;
    box-sizing: border-box;
    color: azure;
    width: 100px;
    height: 100px;
    background-color: rgb(59, 99, 172);
    text-align: center;
    padding-top: 38px;
}

body:hover div {
    animation: animacion 5s ease-in-out;
    animation-iteration-count: 1;
/*     animation-direction: alternate; */
    animation-fill-mode: backwards;
}
@keyframes animacion {
    0%{
        left: 0;
    }

    70%{
        left: 500px;
        top: 200px;
    }
    100%{
        left: 1000px;
        top: 0px;
        
    }
}